body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    

}

.menu{
    display: flex;
    justify-content: space-around;
}

.body{
    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 16%;
}

.me{
    display: flex;
    justify-content: space-around;
    width: 950px;
    height: 200px;
    margin-left: 17%;
    margin-top: 40px;
}

.link{
    font-size: 20px;
    display: inline;
    justify-content: space-around;
    
}

button{
    width: 80px;
    padding: 10px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    
}
